################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PS3_PKG_RAP_Sorter/v15
/bin/Debug/PS3_PKG_RAP_Sorter.exe
/bin/Debug
/obj/Debug
/bin/Release
/obj/Release
